/* Header.css */
.header-carousel {
  width: 100%;
  max-width: 80%; /* Adjust as needed */
  margin: auto;
 
}

.slide {
  width: 100%; /* Ensures each slide takes full width */
  }

.carousel-image {
  width: 80%; /* Full width of the container */
  height: 500px; /* Set a fixed height or adjust as needed */
  object-fit: cover; /* Maintain aspect ratio and cover the area */
  border-radius: 10px; /* Rounded corners */
}
